# Environment
NODE_ENV=development

# Server
PORT=3001

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/splitwise?retryWrites=true&w=majority

# JWT (generate with: node -e "console.log(require('crypto').randomBytes(256).toString('base64'));")
ACCESS_TOKEN_SECRET=your_jwt_secret_key_here

# Other configuration variables can be added here
